@charset "utf-8";
  /* Remove the navbar's default rounded borders and increase the bottom margin */ 
    .navbar {
      margin-bottom: 50px;
      border-radius: 0;
      background: rgb(192, 236, 241);
      color: white;
    }
    
    /* Remove the jumbotron's default bottom margin */ 
     .jumbotron {      
      margin-bottom: 0;
      background-color : hsl(206, 77%, 76%);
      height: 210px;
    }

    .panel-heading{
        text-align: center;
        background-color: rgb(220, 235, 240);
        background: rgb(227, 240, 245);
    }

    .panel-footer{
        text-align: center;
        background-color: rgb(220, 235, 240);
    }

    .panel-body{
       width: 350px;
       height: 300px;
       background-size: cover;
       background-repeat: no-repeat;
       background-position: center;
       justify-content: center;
    }

    .img-responsive{
        object-fit: 'cover';
        float: inherit;
        max-width: 100%;
        max-height: 100%;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
  
    /* Add a gray background color and some padding to the footer */
    footer {
      background-color:#b9daee;;
      padding: 25px;
      height: 10%;
    }

    .bg-modal{
      width: 100%;
      height: 100%;
      background-color: rbg(0,0,0, 0.7);
      position: fixed;
      top:0;
      display: none;
      justify-content: center;
      align-items: center;
    }

    .registracija{
      width: 100%;
      height: 100%;
      background-color: rbg(0,0,0, 0.7);
      position: fixed;
      top:0;
      display: none;
      justify-content: center;
      align-items: center;
    }

    .modal-content{
      width: 400px;
      height: 580px;
      background:linear-gradient(rgba(255,255,255,.5), rgba(255,255,255,.5)), url(https://images.unsplash.com/photo-1595078475328-1ab05d0a6a0e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=400&q=80) no-repeat center ;
      border-radius: 10px;
      text-align: center;
      padding: 20px;
      position: relative;
    }
    
     .modal-content-reg{
      width: 400px;
      height: 700px;
      background:linear-gradient(rgba(255,255,255,.5), rgba(255,255,255,.5)), url(https://images.unsplash.com/photo-1595078475328-1ab05d0a6a0e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=400&q=80) no-repeat center ;
      border-radius: 10px;
      text-align: center;
      padding: 20px;
      position: relative;
    }


    .login-inputs{
      width: 50%;
      display: block;
      margin: 20px auto;
    }

    .form-div{
      margin-top: 100px;
    }

    .login-title{
      margin-top: 50px;
      font-weight: bold;
      align-self: center;
      align-items: center;
    }

    .close{
      position: absolute;
      top:0;
      right: 15px;
      font-size: 40px;
      transform: rotate(45deg);
      cursor: pointer;
    }

   .login-inputs{
      width: 70%;
      border:none;
      padding:15px 20px;
      border-radius:25px;
      background:rgb(255,255,255);
    }
    
     .restaurant-info-home-page{
      margin-top: 5%;
    }
    
    .restaurant-logo-home-page{
      width: 150px;
      height: 150px;
      flex-shrink: 0;
      position: relative;
    align-self : left;
      left: -330px;
      top: 10%;
    }
    
    .restaurant-name{
      position: relative;
      left: 0%;
      top: -75%;
    }
    
    .restaurant-status{
      position: relative;
      left: 45%;
      top: -75%;
    }
    
     .restaurant-type{
      position: relative;
      left: -1%;
      top: -70%;
    }
    
     .restaurant-address{
      position: relative;
      left: -1%;
      top: -50%;
    }
    
     .restaurant-grade{
      position: relative;
      left: -10%;
      top: -55%;
    }

    .button{
      border-radius: 15px;
      width: 30%;
      height: 7%;
      border-color: rgb(149, 203, 224);
      background-color: rgb(149, 203, 224);
      text-align: center;
      font-size: 15px;
      font-weight: bold;
    }
    
     .search{
      position: absolute;
      top: 38%;
      left: 20%;
    }
    
      .search-orders{
      position: absolute;
      top: 38%;
      left: 10%;
    }

    .search-input{
      background-color: cornsilk;
      border: none;
      outline: none;
      height: 35px;
      border-radius: 25px;
      padding: 0 25px;
      border-color: rgb(102, 102, 167);
      border-width: 1px;
    }
    

    .search-submit{
      border-radius: 15px;
      height: 35px;
      border-color: rgb(149, 203, 224);
      background-color: rgb(149, 203, 224);
      text-align: center;
      font-size: 15px;
      font-weight: bold;
    }
    
      .menu-group{
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 1.5em;
      padding: 1.5em 0;
    }